*{
    font-family: 'Spartan', sans-serif;
}
header{
    display: flex;
    align-items:flex-end;
    justify-content: center;
    background-color:  hsl(180, 52%, 96%);
    background-image: url("/images/bg-header-mobile.svg");
    height: 100px;
    padding: 0 1.5em;
}

.search{
  background-color: white;
  width: 100%;
  border-radius: 5px;
  font-weight: bold;
}
main{
    display: flex;
    flex-direction: column;
    background-color:  hsl(180, 52%, 96%);
}
.company{
  color:lightseagreen;
  font-weight: bold;
}
.new{
  color:white;
  font-weight: bold;
  background-color: lightseagreen;
  border-radius: 15px;
  padding: 5px;
}
.featured{
  color:white;
  font-weight: bold;
  background-color: black;
  border-radius: 15px;
  padding: 5px;
}
footer{
    background-color:  hsl(180, 52%, 96%);
}

.card{
    border: 1px solid black;
    border-radius: 5px;
    margin: 1.5em 1.5em;
    background-color: white;
}

.card_body{
    margin: 1.5em 1.5em;
}
.card_body_text_title{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card_body_tags{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid gray;
}

.tag{
    background-color: rgb(215, 238, 215);
    color: lightseagreen;
    font-weight: bold;
    padding: 0.5em;
    border-radius: 2px;
}

/* 
<div class="card"> <!-- DIV CARD -->
<div>
  <!-- DIV VACIO -->
</div>
<div class="card_body">
  <!-- DIV GENERAL -->
  <div class="card_body_text">
    <!-- DIV TEXTO -->
    <div class="card_body_text_title">
      <p>Photosnap</p>
      <p>New!</p>
      <p>Featured</p>
    </div>
    
    <h3>Senior Frontend Developer</h3>
    <p>1d ago Full Time USA only</p>
  </div>
  <div class="card_body_tags">
    <!-- DIV ETIQUETAS -->
    <p>Frontend</p>
    <p>Senior</p>
    <p>HTML</p>
    <p>CSS</p>
    <p>JavaScript</p>
  </div>
</div>
</div>
 */